@import "../Variables.scss";
.ResultsContainer{
    & .returnButton{
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 9000;
      }
    & .ResultsList{
        color: $app-text-color;
        & .POI{
            & img{
                max-width: 100%;
            }
        }
    }
}