.MapContainer .returnButton {
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 9000; }

.MapContainer .Map {
  color: #676767;
  height: 50vh; }

.MapContainer .Map .input {
  margin: auto;
  position: absolute;
  top: 12px;
  left: 12px;
  width: calc(100% - 120px);
  padding: 0 20px;
  height: 40px;
  z-index: 10000; }

.MapContainer .Map .legend {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1000000; }

.MapContainer .MapList {
  height: 50vh;
  padding-top: 30px; }

.MapContainer .MapList .slick-list {
  width: 90%;
  margin: 0 5%; }

.MapContainer .MapList input {
  width: 90%;
  margin: 10% 5%; }

.MapContainer .MapList .slick-prev {
  left: 5px;
  z-index: 5000; }

.MapContainer .MapList .slick-next {
  right: 5px;
  z-index: 5000; }

.MapContainer .MapList .slick-prev:before, .MapContainer .MapList .slick-next:before {
  color: black; }

.MapContainer .MapList .MapListItem {
  width: 100%; }

.MapContainer .MapList .MapListItem a {
  text-decoration: none; }

.MapContainer .MapList .MapListItem img {
  width: 80%;
  margin: 0 10%; }

.MapContainer .MapList .MapListItem p {
  color: green; }

.MapContainer .MapList .MapListItem h2 {
  font-weight: bold;
  font-size: 1.4em; }
