.ResultsContainer .returnButton {
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 9000; }

.ResultsContainer .ResultsList {
  color: #676767; }

.ResultsContainer .ResultsList .POI img {
  max-width: 100%; }
